{% extends "map/base.html" %}
{% block stylesheets %}
  <link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/map/map.css'|staticurl }}" />
{% endblock %}
{% block scripts %}
  <script src="http://api.map.baidu.com/api?v=1.5&ak=84901b49cdd30d61000a6850331903f6" type="text/javascript"></script>
  <script src="{{ '/static/js/apps/map/EventWrapper.js'|staticurl }}"></script>
  <script src="{{ '/static/js/apps/map/map.js'|staticurl }}"></script>
{% endblock %}
{% block mainbody %}
<div class="center">
    <div class="main-left">
      <div class="operator">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#seach" data-toggle="tab">查询</a></li>
          <li class=""><a href="#add" data-toggle="tab">新增</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="seach">
            查询面板
          </div>
          <div class="tab-pane" id="add">
            新增面板
          </div>
        </div>
      </div>
    </div>
    <div class="main-right">
        <div class="toolbar">
          <div class="city"></div>
          <div class="weather"></div>
        </div>
        <div id="map"></div>
    </div>
</div>
{% endblock %}
