{% extends "base.html" %}

{% block stylesheets %}
  <link type="text/css" rel="stylesheet" href="{{ '/static/css/lib/codemirror.css'|staticurl }}" />
  <link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/codetools.css'|staticurl }}" />
{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="{{ '/static/js/lib/codemirror.js'|staticurl }}"></script>
  <script type="text/javascript" src="{{ '/static/js/apps/code/matchbrackets.js'|staticurl }}"></script>
  <script type="text/javascript" src="{{ '/static/js/apps/code/continuecomment.js'|staticurl }}"></script>
  <script src="{{ '/static/js/apps/codetools.js'|staticurl }}"></script>
{% endblock %}
{% block mainbody %}
<div class="center clearfix">
    <div class="tabbable tabs-left">
      <ul id="codenav" class="nav nav-tabs">
        <li class="active"><a href="#json" data-toggle="tab">JSON转换</a></li>
        <li class=""><a href="#javascript" data-toggle="tab">JS编辑器</a></li>
        <li class=""><a href="#url" data-toggle="tab">URL转义</a></li>
        <li class=""><a href="#xmltojson" data-toggle="tab">XML TO JSON</a></li>
        <li class=""><a href="#endecode" data-toggle="tab">utf8转换</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="json">
          <div class="jsonpanel resizepanel">
            <textarea class="jsoninput textinput">{"web": "jspass"}</textarea>
            <div class="jsonshow">
              <pre><code class="jsonbeauty"></code></pre>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="javascript">
          <textarea class="codeinput">
//javascript hello world 程序
function helloWorld(){
  alert("hello JsPass");
}
helloWorld();</textarea>
        </div>
        <div class="tab-pane" id="url">
          <div class="resizepanel">
            <textarea class="urlinput" placeholder="要转义的URL"></textarea>
            <br/>
            <select class="urltype">
              <option value="escape">escape</option>
              <option value="encodeURI">encodeURI</option>
              <option value="encodeURIComponent">encodeURIComponent</option>
            </select>
            <br/>
            <textarea class="urlresult" placeholder="转义后的结果"></textarea>
            <select class="urluntype">
              <option value="unescape">unescape</option>
              <option value="decodeURI">decodeURI</option>
              <option value="decodeURIComponent">decodeURIComponent</option>
            </select>
            <br/>
            <textarea class="urlunresult" placeholder="反转义后的结果"></textarea>
          </div>
        </div>
        <div class="tab-pane" id="xmltojson">
          <div class="resizepanel">
            <textarea class="xmlinput textinput"><xml><web>jspass</web></xml></textarea>
            <div class="xmlshow">
              <pre><code class="jsonbeauty"></code></pre>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="endecode">
          <textarea class="utffrom textinput" placeholder="要转义的中文"></textarea>
          <br/><br/>
          <span class="utfencode btn">中文转UTF8</span>&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="utfdecode btn">UTF8转中文</span>
          <br/><br/>
          <textarea class="utfto textinput" placeholder="utf8编码结果"></textarea>
        </div>
      </div>
    </div>
</div>
{% endblock %}