/*基本类和函数*/
.font-wrap{
  white-space:nowrap;
  overflow:hidden;
  -o-text-overflow:ellipsis;
  text-overflow:ellipsis
}
header .logo{
  display:block;
  float:left;
}
header .logo img{
  width:140px;
  height:40px
}
.center{
  position: absolute;
  top:41px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #fff;
}
.main-left{
  position: absolute;
  top:0px;
  left: 0px;
  bottom: 0px;
  overflow: auto;
  width: 300px;
  border-right: 1px solid #e8e8e8;
  background: #f7f7f7;
}
.main-right{
  position: absolute;
  top:0px;
  left: 301px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus{
  background: #f7f7f7;
}

.operator{
  padding: 20px;
}
.font-wrap {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.toolbar{
    background: url('../../../images/b/toolbar.gif') repeat-x 0 0;
    position: absolute;
    left: 0px;
    right: 0px;
    top:0px;
    height:32px; 
}
.city{
  font-size: 12px;
  line-height: 15px;
  height: 15px;
  display: inline-block;
  color: #4c4c4c;
  text-decoration: none;
  padding-right: 15px;
  margin: 8px 15px;
}
.city:hover{
  color: #4c73c2;
}
#map{
  position: absolute;
  top:32px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  min-width: 724px;
}
