/*基本类和函数*/
/*基本类和函数*/
/***************border圆角**********************/
/***************方块阴影**********************/
/***************元素过度效果**********************/
/****************旋转，转换***********************/
/****************线性颜色渐变***********************/
/****************快速颜色渐变***********************/
/****************镜像效果***********************/
/****************透明效果***********************/
/****************处理越界***********************/
.font-wrap {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.CodeMirror,
.CodeMirror div,
.CodeMirror span {
  font-size: 16px;
}
.textinput {
  width: 824px;
  height: 200px;
}
#url textarea {
  width: 824px;
}
.jsonshow {
  margin-top: 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.xmlshow {
  margin-top: 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.urltype,
.urlresult,
.urluntype,
.urlunresult {
  margin-top: 10px;
}
